/* PARALLAX SCROLLING EXPERIMENT
   Master Styles
   Author: Jonathan Nicol (f6design.com)
*****************************************************************/


/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Extended base styles (site specific)
*****************************************************************/

html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
	}
body {
	background-color: #1F1F1F;
	overflow-x: hidden;
	height: 5090px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}
p {
	color: rgba(255,255,255,1.00);
}

h1 {
	color: #5A6ADF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#engli header h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 42px;
	font-weight: 900;
	color: rgba(99,118,255,1.00);
}

a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#21a97e;
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		color:#000;
		}
img { 
	display:block;
	}
p {
	margin:1em 0;
	}

/* Common shared styles
*****************************************************************/

hr {
	margin: 0;
	border: none;
	border-top: 1px solid #3b3b3b;
	border-bottom: 1px solid #3b3b3b;
	height: 3px;
}

/* Page structure
*****************************************************************/

#wrapper {
	position: relative;
}
#branding {
	width: 100%;
	background-color: #393939;
	position: fixed;
	}
	#branding h1 {
		width: 940px;
		padding: 10px 15px;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		}

/* Nav
*****************************************************************/

nav#primary {
	z-index: 5;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
	}
nav.next-prev {
	margin: 20px 0 0 0;
	}
	a.prev,
	a.next {
		display: block;
		width: 15px;
		height: 11px;
		text-indent: -9999px;
		}
	a.prev {
		margin: 0 auto 5px auto;
		background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/scroll-arrow-up.png') 0 0 no-repeat;
		}
		a.prev:hover {
			background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/scroll-arrow-up.png') 0 -11px no-repeat;
			}
	a.next {
		margin: 5px auto 0 auto;
		background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/scroll-arrow-down.png') -1px 0 no-repeat;
		}
		a.next:hover {
			background: transparent url('https://www.5g-o.com/codedesign/wp-content/uploads/2020/09/scroll-arrow-down.png') -1px -11px no-repeat;
			}

/* Parallax
*****************************************************************/

/* content */
#content {
	z-index: 4;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
/* Parallax
*****************************************************************/

/* content */
.content1 {
	z-index: 4;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
	#content article {
		width: 300px;
		}
.content1 article {
		width: 300px;
		}
		#manned-flight ,
		#frameless-parachute,
		#english-channel,
		#about {
	padding-top: 58px;
			}
		#manned-flight {
	position: absolute;
	top: 0px;
	width: 0%;
			}
		#frameless-parachute {
	position: absolute;
	top: 1024px;
			}
		#english-channel {
			position: absolute;
			top: 2180px;
			}
			#content h1 {
	margin: 0 0 25px 0;
	font-size: 49px;
	font-family: Georgia, serif;
	font-weight: 900;
	line-height: 65px;
	color: rgba(100,117,241,1.00);
				}
		#about {
	position: absolute;
	top: 3093px;
			}
/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
	position: absolute;
	top: -5px;
	left: 350px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 321px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 403px;
		}
	#bg3-4 {
	position: absolute;
	top: 2366px;
	left: 397px;
		}
#bg3-5 {
	position: absolute;
	top: 3304px;
	left: 229px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
	position: absolute;
	top: 268px;
	left: 34px;
		}
#bg1-7 {
	position: absolute;
	top: 322px;
	left: 1090px;
		}
	#bg2-3 {
	position: absolute;
	top: 543px;
	left: 59px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
	position: absolute;
	top: 645px;
	left: 890px;
		}
#bg2-6 {
	position: absolute;
	top: 1739px;
	left: 382px;
		}
#bg2-7 {
	position: absolute;
	top: 2207px;
	left: 126px;
		}
#bg2-9 {
	position: absolute;
	top: 2207px;
	left: 126px;
		}
#bg2-8 {
	position: absolute;
	top: 2211px;
	left: 742px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
	position: absolute;
	top: 590px;
	left: -66px;
		}
	#bg1-4 {
	position: absolute;
	top: 865px;
	left: 316px;
		}
#bg1-5 {
	position: absolute;
	top: 1107px;
	left: 873px;
		}
#bg1-6 {
	position: absolute;
	top: 1099px;
	left: -85px;
		}


#engli {
	position: absolute;
	top: 4400px;
	width: 40%;
	
}

h3 {
	color: rgba(205,185,185,1.00);
	font-size: 21px;
}
#wrapper #branding h1 {
	color: rgba(227,227,227,1.00);
}
#branding h1 a {
	color: rgba(235,235,235,1.00);
}
#wrapper #branding .bac {
	height: 50px;
	padding-left: 10%;
	background-color: rgba(27,27,27,0.58);
}
#branding .bac a {
	color: rgba(233,233,233,1.00);
	font-size: 21px;
	line-height: 50px;
}
#branding .bac a:hover  {
	color: rgba(90,106,223,1.00);
	font-size: 21px;
	line-height: 50px;
}
