body, ul {
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
ul li {
    list-style-type: none;
}
.slides-box {
	width: 90%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	overflow: hidden;
}
.slides {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    float: left;
}
.slides-box .slides .pa1 {
	background-image: url(../images/b919f8849eff326e89fbf122d766df37.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 35px;
	padding-top: 45px;
	background-position: 80% 76%;
}
.slides-box .slides .pa2 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	background-image: url(../images/%E4%B8%8B%E8%BD%BD.jpg);
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	padding-bottom: 35px;
	padding-top: 45px;
}
.slides-box .slides .pa3 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	padding-bottom: 35px;
	padding-top: 45px;
	background-image: url(../images/sss1.jpg);
}
.slides-box .slides .pa4 {	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 35px;
	padding-top: 45px;
	background-image: url(../images/sas.jpg);
}




.prev, .next {
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -40px;
    left: 0;
    height: 70px;
    width: 30px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
}
.prev:hover, .next:hover{
	opacity: .7;
}
.prev{
	background-image: url("data:image/gif;base64,R0lGODlhHgBGAIABAP///////yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwMTQgNzkuMTU2Nzk3LCAyMDE0LzA4LzIwLTA5OjUzOjAyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjAzODAxMTc0MDcyMDY4MTE5MkIwQTM1OTQ0MTQ3NDEwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjY0M0UwQjkxMEQ3RTExRTVCOTJFQkFCNkU5QTFCNUE5IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjY0M0UwQjkwMEQ3RTExRTVCOTJFQkFCNkU5QTFCNUE5IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzUgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OEFCRDY2OUNGM0REMTFFMkFCOTg5QTlBMkVEQjFBRjAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OEFCRDY2OURGM0REMTFFMkFCOTg5QTlBMkVEQjFBRjAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAHgBGAAACUIyPqcvtD6OctNqLs968+w+G4kiWIYB6aMqtrOYCrTuv9ZvFt7zpPf2zBXEY31Al3CGTQ56yY2wuiTng8yqFWo9Lk/cLDovH5LL5jE6r15oCADs=");
}
.next {
    left: auto;
    right: 0;
    background-image: url("data:image/gif;base64,R0lGODlhHgBGAIABAP///////yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwMTQgNzkuMTU2Nzk3LCAyMDE0LzA4LzIwLTA5OjUzOjAyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjAzODAxMTc0MDcyMDY4MTE5MkIwQTM1OTQ0MTQ3NDEwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjg0QTYyN0Y0MEQ3RTExRTVBMTAyQURBQ0QxRjY2NTc1IiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjg0QTYyN0YzMEQ3RTExRTVBMTAyQURBQ0QxRjY2NTc1IiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzUgTWFjaW50b3NoIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OEFCRDY2OUNGM0REMTFFMkFCOTg5QTlBMkVEQjFBRjAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OEFCRDY2OURGM0REMTFFMkFCOTg5QTlBMkVEQjFBRjAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAHgBGAAACV4yPqcvtD6OctNqLs968+w+G4kiWFIB+aNqtLOcCXjy79Xq/G93aPf7TaXgwX1GYMQ6VGGKSeXE2oRZplFqxVrEn7kSb9X6BR5P5jE6r1+y2+w2Py+fmAgA7");
}
.pagination{
	position: absolute;
	bottom: 5px;
	z-index: 99;
}
.pagination li{
    padding: 5px 3px;
	float: left;
}
.pagination li a{
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    background: #000;
	color: #fff;
    text-align: center;
    font-family: Arial;
	text-decoration: none;
}
.pagination .active{
	background: red;
}
.w1 {
	width: 100%;
	height:100%;
	background-color: rgba(31,31,31,1.00);
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
}

.f1 {
	height: auto;

}
p   {
	margin: 3px;
	color: rgba(228,228,228,1.00);
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.f2 {
   margin-top: 15px;
	height: auto;

}

.ff {
	width: 40%;
	float: left;
}

.f3 {
	   margin-top: 15px;
	height: auto;
}

.ff2 {
	width: 40%;
	float: right;
}

h1 {
	color: rgba(252,252,252,1.00);
	font-size: 49px;
	text-align: right;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-top: 0px;
}

h3 {
	color: rgba(255,255,255,1.00);
	text-align: right;
}

.qq {
	width: 40%;
	float: right;
}
.qq .q1 p {
	margin: 3px;
	color: rgba(228,228,228,1.00);
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
}
.qq .q2 p {
	margin: 3px;
	color: rgba(228,228,228,1.00);
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
}
.qq0 .q3 p {
	margin: 3px;
	color: rgba(228,228,228,1.00);
	font-size: 18px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: right;
}
.qq2 h1  {
	text-align: left;
}
.qq2 h3  {
	text-align: left;

}


.qq2 {
	width: 40%;
	float: left;
}

.qq0 {
	width: 30%;
	float: right;
}

.pa6 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 35px;
	padding-top: 45px;
	background-image: url(../images/qqsa.jpg);
}
.pa8 {
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 35px;
	padding-top: 45px;
	background-image: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_2025-12-29_092859_389.jpg);
}

.pa5 {
	background-image: url(../images/aa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	background-position: 471% 87%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	padding-bottom: 35px;
	padding-top: 45px;
}
.pa7 {
	background-image: url(../images/lmkl.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 92%;
	height: 100%;
	background-position: 471% 87%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	padding-bottom: 35px;
	padding-top: 45px;
}

.ffg {
	width: 130px;
	height: 30px;
	position: absolute;
	top: 0px;
	margin-top: 20px;
	margin-left: 10%;
}
.w1 .ffg a {
	color: rgba(224,224,224,1.00);
	font-size: 24px;
	text-decoration: none;
}
.w1 .ffg a:hover  {
	color: rgba(90,106,223,1.00);
	font-size: 24px;
	text-decoration: none;
}
